.page {
    width: 100%;
    background: var(--dark-purple-background);
}

.hero {
    min-height: 100svh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

/* ------ */
/* Header */
/* ------ */

.profile {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.avatar {
    height: 10rem;
    width: 10rem;
    border: 1px solid #2a4e7cb7;
    border-radius: 50%;
    object-fit: cover;

    background: var(--light-dark-purple-background);
    opacity: 0.8;
}

.name {
    text-align: center;
    font-size: 1.25rem;
    color: #fff;
}

.description {
    text-align: center;
    font-size: 0.9rem;
    color: #fff;
}

/* ------- */
/* Content */
/* ------- */

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.glowLine {
    height: 0.0625rem;
    width: 7rem;
    background: #8b5cf6;
    
    box-shadow:
        0 0 5px #5ac8ff,
        0 0 10px #2196f3,
        0 0 15px #0077ff;
}

.navigation__options {
    height: 40rem;
    width: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid var(--light-dark-purple-background);
    border-radius: 10px;
    background: #0000002f;

    overflow: hidden;
}

.navigation__card {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    user-select: none;
    border-top: 1.5px solid var(--light-dark-purple-background);

    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 0.5rem;

    transition: background 0.15s ease-out;
}

.navigation__card:hover {
    background: #0f13f82f;
}

.navigation__card:active {
    background: #0004da28;
    transition: none;
}

.card__icon {
    font-weight: bold;
    font-size: 2rem;
    color: #6336cc;
}

.card__text {
    color: #fff;
    font-size: 1.25rem;
}

.socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.socials__icon {
    color: #c4c2d8;
    font-size: 40px;
    filter: drop-shadow(0 0 1px #8F82C4);
    transition: filter 0.2s ease-in-out;
}

.socials__icon:hover {
    color: #d5d3ee;
    filter: drop-shadow(0 0 2px #7864B8);
}

.scroll {
    display: none;
    margin-top: 3rem;
}

.scroll__text {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
}

/* --------------------- */
/* Desktop Compatibility */
/* --------------------- */

@media (min-width: 1100px) {
    .hero {
        gap: 7rem;
    }

    .glowLine {
        width: 10rem;
    }

    .navigation__options {
        height: 9rem;
        width: 75rem;

        flex-direction: row;
    }

    .navigation__card {
        border-top: none;
        border-right: 1.5px solid var(--light-dark-purple-background);
    }

    .socials {
        margin-top: 0.5rem;
    }

    .socials__icon {
        font-size: 32px;
    }

    .scroll {
        display: block;
        color: #fff;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }
}